.index {
    width: 100%;
    height: 77vh;
    /* background-color: rgb(255, 255, 255); */
    padding-bottom: 16px;

}

.head {
    height: 64px;
    /* padding-top: 30px; */
    width: 96%;
    /* background-color: bisque; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

    padding: 24px 24px 16px 24px;
    border-radius: 8px;

}

.on {
    /* background-color: transparent; */
}

.bk {
    background-color: rgb(255, 255, 255);
    height: 247px;
    border-radius: 8px;
}

/* 进度条背景颜色 */
.bkcl {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F8FBFE;
    border-radius: 8px;
    align-items: center;
}

/* 进度条字 */
.el-progress-bar__innerText {

    /* box-shadow: inset 8px 0px 10px 0px #AFBDD2; */
    width: 64px;
    height: 32px;
    /* background-color: white; */
    border-radius: 16px;

}

/* 进度条内芯样式 */
.el-progress-bar__inner {
    height: 8px;
    margin: 12px;
}

/* 调整进度条颜色 */
.custom-progress1 .el-progress-bar .el-progress-bar__outer .el-progress-bar__inner {
    background: linear-gradient(90deg, #3D7BFA 0%, #3DF4FA 100%) !important;
    height: 8px;
    margin: 12px;
}
.gpu .el-progress-bar .el-progress-bar__outer .el-progress-bar__inner{
    margin: 0;
    height: 6px;
}

.progress1 {
    width: 934px;
    height: 32px;
    flex-grow: 1;
    margin: 0 16px;
    font-size: 15px;
    font-weight: bold;

}

/* XXX训练设置 */
.dialog-title {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1001;
    padding: 16px 48px 16px 24px;
    font-size: 16px;
    font-weight: 500;
    ;
    /* border-bottom: 1px solid #ddd; */
} 

.buttons {
    display: flex;
    gap: 10px;
    width: 180px;
    height: 32px;
}

.sptitle {
    height: 23px;
    margin-left: 24px;
    font-family: 'Source Han Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.85);
}

.contral {
    width: 100%;
    height: calc(100% - 155px);
    /* background-color: rgb(224, 226, 229); */
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

/* .el-table tr {
    background-color: #F8FBFE !important;
} */
.tbst2{
    margin: 12px 24px 24px 24px;
    width: 96%;
    background-color: #F8FBFE 
}
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
    border-bottom: 0;
}

.a1 {
    background-color: white;
    padding: 24px 0px 16px 24px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    ;
    font-size: 16px;
    font-family: 'Source Han Sans';
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
}

/* 分割线边距清零 */
.el-divider--horizontal {
    padding: 0;
    margin: 0;
}



.pd {
    padding-bottom: 16px;
}

.a2 {
    width: 93%;
    /* 减去左右margin的宽度 */
    height: 74%;
    /* 设置高度 */
    background-color: #F8FBFE;
    overflow: auto;
    /* 添加滚动条 */
    white-space: nowrap;
    /* 防止内容自动换行 */
    margin: 16px 24px 24px 24px;
    padding: 16px;
    border-radius: 8px;

    font-family: 'Source Han Sans';
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.65);
    overflow-y: auto;
    /* 如果内容超出宽度，显示横向滚动条 */
}

/* 将参数设置表格的value值padding-left置为0 */
/* .table1 .el-table .cell {
    padding-left: 0 !important;

} */
/* 调整进度条的字体大小 */
.el-progress-bar__innerText {
    /* display: flex; */
    font-size: 16px;
    margin-top: -12px;
    margin-right: -10px;
    text-align: center;
    /* align-items: center; */
    background-color: white;
    justify-content: center;
    font-weight: normal;
    /* 水平居中 */
    line-height: 32px;
    width: 64px;
    height: 32px;
    border-radius: 16px;
    box-shadow: 8px 0px 10px 0px rgba(175, 189, 210, 0.3);

}

/* 调整进度条的字体大小 */
.el-progress-bar__innerText {
    font-size: 15px;
}

.el-table__row {
    border-bottom: none;
    /* 去除行下的分隔线 */
}

.el-table__header {
    border: none;
    /* 去除表头下方的横线 */
}

.el-table__body {
    border: none;
    /* 去除行之间的横线 */
}

.el-table__row {
    border-bottom: none;
    /* 去除行下的分隔线 */
}

.gpu {
    width: 200px;
    display: inline-block;
}