<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdu.edu.codeexplorer.mapper.TrainListMapper">

    <!-- 1. 查询所有任务信息 -->
    <select id="getAllTrainLists" resultType="com.hdu.edu.codeexplorer.entity.TrainList" useCache="false">
        SELECT * FROM tbltrain_list
    </select>

    <!-- 2. 增加任务 -->
    <insert id="addTrainList" parameterType="com.hdu.edu.codeexplorer.entity.TrainList">
        INSERT INTO tbltrain_list (
            name, model, dataset_id, dataset, state, gpu, type, param, time, result, remark, summary,
            epochs, batch_size, lr, lr_decay_factor, weight_decay, lr_decay_step_size, hidden, num_classes, nheads, dropout, alpha
        )
        VALUES (
                   #{name}, #{model}, #{datasetId}, #{dataset}, #{state}, #{gpu}, #{type}, #{param}, #{time}, #{result}, #{remark}, #{summary},
                   #{epochs}, #{batch_size}, #{lr}, #{lr_decay_factor}, #{weight_decay}, #{lr_decay_step_size}, #{hidden}, #{num_classes}, #{nheads}, #{dropout}, #{alpha}
               )
    </insert>

    <!-- 3. 删除任务 -->
    <delete id="deleteTrainListById">
        DELETE FROM tbltrain_list WHERE id = #{id}
    </delete>

    <!-- 4. 修改任务 -->
    <update id="updateTrainListById" parameterType="com.hdu.edu.codeexplorer.entity.TrainList">
        UPDATE tbltrain_list
        SET
            name = #{name},
            model = #{model},
            dataset_id = #{datasetId},
            dataset = #{dataset},
            state = #{state},
            gpu = #{gpu},
            type = #{type},
            param = #{param},
            time = #{time},
            result = #{result},
            remark = #{remark},
            summary = #{summary},
            epochs = #{epochs},
            batch_size = #{batch_size},
            lr = #{lr},
            lr_decay_factor = #{lr_decay_factor},
            weight_decay = #{weight_decay},
            lr_decay_step_size = #{lr_decay_step_size},
            hidden = #{hidden},
            num_classes = #{num_classes},
            nheads = #{nheads},
            dropout = #{dropout},
            alpha = #{alpha}
        WHERE id = #{id}
    </update>

    <!-- 5. 根据ID查询任务信息 -->
    <select id="getTrainById" resultType="com.hdu.edu.codeexplorer.entity.TrainList">
        SELECT
            *
        FROM
            tbltrain_list
        WHERE
            id = #{id}
    </select>
</mapper>
