.exist {
    width: 100%;
    height: 476px;
    background-color: rgb(255, 255, 255);
}

.button {
    margin-top: 10px;
    margin-right: 30px;
    justify-content: flex-end;
}

.row {
    display: flex;
    justify-content: flex-end;
    /* 右对齐 */
}

.table {
    margin-top: 10px;
}