.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.login-container {

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  min-height: 325px;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input-field {
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  /* 添加底色 */
  width: 85%;
}

.login-button {
  width: 90%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.1);
  margin-left: -2rem;

}

.el-form-item__content {
  margin: 0px;

}

.title1 {
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  height: 100%;
  /* 确保容器有高度 */
  font-size: 16px;
  font-weight: 500;
  margin-left: 3px;
}

.title {
  display: flex;
  /* 启用 Flexbox 布局 */
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  height: 100%;
  /* 确保容器有高度 */

}