.menu {
  /* background-color: #ECF0F1; */
  min-height: 100vh;
  display: flex;
}

/* 面包屑的样式 */
.elBreadcrumb {
  /* background-color: #fff; */
  padding: 20px 0px; /* 内边框 */
  border-radius: 4px;
  
}

.elHeader {
  /* background-color:#FFFFFF; */
  /* background-image: url('../assets/底图@2x.png'); */
  padding: 0px;
}

.elHeader1 {
  /* background-color:#FFFFFF; */
  background-image: url('../assets/底图@2x.png');
  background-size: cover; /* 背景图覆盖整个容器 */
  background-position: center; /* 设置背景图居中显示 */
  background-repeat: no-repeat; /* 防止背景图重复 */
  padding-right:16px;
}

.body {
  /* background-color:#FFFFFF; */
  padding: 0px;
  height: 100%;
  overflow: visible;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 212px;
  min-height: 100vh;
}

/* 鼠标悬停时的菜单项背景颜色和文字颜色 */
.el-menu-vertical-demo .el-menu-item:hover {
  /* background-color: #E8f3fe !important; */
  /* 使用 !important 确保样式生效 */

}

/* 自定义子菜单项悬停样式 */
.el-menu-vertical-demo .el-submenu .el-menu-item:hover {
  /* background-color: #E8f3fe !important; */
}

.el-menu-vertical-demo .el-submenu:hover {
  /* background-color: #E8f3fe !important; */
}

.custom-icon {
  width: 18px;
  /* 设置图标的宽度 */
  height: 18px;
  /* 设置图标的高度 */
  margin-right: 5px;
  margin-left: 4px;
  vertical-align: middle;
  /* 使图标垂直居中对齐 */
}

.custom-icon:hover {
  /* background-color: #E8f3fe !important; */
}
.el-menu{
  min-width: 200px;
  background-color: transparent; /* 去除背景色 */
  border-right: 0;
}

.el-header{
  padding: 0px;
}