.index {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(250, 250, 250); */

}

/* .on {
    background-color: transparent;
} */

.head {
    height: 64px;
    /* padding-top: 30px; */
    width: 96%;
    /* background-color: bisque; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 24px 24px 24px 24px
}

/* 进度条背景颜色 */
.bkcl {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F8FBFE;
    border-radius: 8px;
    align-items: center;
}

/* 进度条字 */
.el-progress-bar__innerText {
    /* display: flex; */
    font-size: 16px;
    margin-top: -12px;
    margin-right: -10px;
    text-align: center;
    /* align-items: center; */
    background-color: white;
    justify-content: center;
    font-weight: normal;
    /* 水平居中 */
    line-height: 32px;
    width: 64px;
    height: 32px;
    border-radius: 16px;
    box-shadow: 8px 0px 10px 0px rgba(175, 189, 210, 0.3);

}

/* 进度条内芯样式 */
.el-progress-bar__inner {

}

.progress1 {
    width: 934px;
    height: 32px;
    flex-grow: 1;
    margin: 0 16px;
    font-size: 15px;
    font-weight: bold;

}

.buttons {
    display: flex;
    gap: 10px;
    width: 180px;
    height: 32px;
}

.contral {
    width: 100%;
    height: calc(100% - 155px);
    /* background-color: rgb(224, 226, 229); */
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

.a1-pre {
    background-color: white;
    padding: 24px 0px 16px 24px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.24);
    font-size: 16px;
    font-family: 'Source Han Sans';
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
}

/* 分割线边距清零 */
.el-divider--horizontal {
    padding: 0;
    margin: 0;
}

.a2-pre {
    width: 93%;
    /* 减去左右margin的宽度 */
    height: 80%;
    /* 设置高度 */
    background-color: #F8FBFE;
    overflow: auto;
    /* 添加滚动条 */
    white-space: nowrap;
    /* 防止内容自动换行 */
    margin: 16px 24px 24px 24px;
    padding: 16px;
    border-radius: 8px;

    font-family: 'Source Han Sans';
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.65);
}

/* 调整进度条的字体大小 */
.el-progress-bar__innerText {
    font-size: 15px;
}



.gpu {
    width: 200px;
    display: inline-block;
}

/* 调整进度条颜色 */
.custom-progress1 .el-progress-bar .el-progress-bar__outer .el-progress-bar__inner {
    background: linear-gradient(90deg, #3D7BFA 0%, #3DF4FA 100%) !important;
    height: 8px;
    margin: 12px;
}
.gpu .el-progress-bar .el-progress-bar__outer .el-progress-bar__inner{
    margin: 0;
    height: 6px;
}
/* XXX训练设置 */
.dialog-title {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1001;
    padding: 16px 48px 16px 24px;
    font-size: 16px;
    font-weight: 500;
    ;
    /* border-bottom: 1px solid #ddd; */
}