
.table1 {
    flex: 1;
    margin: 0px 24px 22px 24px;
    border-radius: 8px 8px 0px 0px;
    background-color: #FFFFFF;
    /* 元素完全不透明 */
    overflow-x: auto;
    opacity: 1;
    margin-top: 0px;
}


.on {

    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px 8px 0px 0px;
}

.row {
    display: flex;
    justify-content: flex-end;
    /* 将按钮右对齐 */
}

.font {
    width: 100%;
    font-size: 18px;
    margin: 24px 24px 22px 24px;
    align-self: center;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
}

.button {
    margin: 24px;
    padding: 5px 12px 5px 12px;
    justify-content: flex-end;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
}

.tab {
    border-radius: 16px;
    width: 116px;
    height: 28px;
    padding: 4px 16px;
    font-size: 14px;
    align-self: center;
    justify-self: center;
    line-height: normal;
}

.form-right-align {
    display: flex;
    flex-wrap: wrap;
}

.el-table .cell {
    padding-left: 16px;
}

.el-table th.el-table__cell>.cell {
    padding-left: 16px;
}

.el-form-item .el-form-item__label {
    text-align: right;
    font-weight: normal;
    line-height: normal;
    padding: 6px 16px 6px 0px;
}

.el-dialog {
    max-width:586px;
}

@media (max-width: 600px) {
    .button {
        margin: 5px;
    }

    .el-form-item .el-form-item__label {
        width: 100px;
    }
}

/* 页码 */
.pagination {
    margin-top: 24px;
}

.flex-item {
    display: flex;
    justify-content: flex-end;
}

/* XXX训练设置 */
.dialog-title {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1001;
    padding: 16px 48px 16px 16px;
    font-size: 16px;
    font-weight: 500;
    ;
    /* border-bottom: 1px solid #ddd; */
}

/* el-dialog内容样式 */
.dialog-content {
    max-height: 600px;
    /* 设置内容区域的最大高度 */
    overflow-y: auto;
    overflow-x: hidden; /* 禁用横向滚动 */
    /* 让内容区域出现滚动条 */
    padding-left: 34px;
    padding-right: 32px;
}
/* el-dialog嵌套子表样式 */
.dialog-form-content {
    background-color: #F3F9FE;
    padding-left: 0px;
    width: 390px;
    border-radius: 8px;
}

/* 删除el-dialog的title样式 */
.el-dialog__header {
    padding: 0;
}

/* 删除el-dialog的样式 */
.el-dialog__body {
    padding: 0;

}
/* el-dialog输入框样式 */
.el-form .el-input__inner{
width: 100%;
height: 32px;
margin-right: 24px;
}

.custom-input{
    width: 200px; /* 设置宽度 */
    background-color: #f0f0f0; /* 背景颜色 */
}