.index {
    width: 100%;
    height: 100vh;
    padding-bottom: 16px;
    /* background-color: rgb(250, 250, 250); */
}

.bk {
    background-color: rgb(255, 255, 255);
    height: 247px;
    border-radius: 8px;
}

.head {
    height: 64px;
    /* padding-top: 30px; */
    width: 96%;
    /* background-color: bisque; */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

    padding: 24px 24px 16px 24px;
    border-radius: 8px;
}

/* .on {
    background-color: transparent;
} */

.tbst2 {
    margin: 12px 24px 24px 24px;

    background-color: #F8FBFE;
    width: 96%;
}

/* .el-table tr {
    background-color:transparent;
} */

.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
    border-bottom: 0;
}

/* 进度条背景颜色 */
.bkcl {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F8FBFE;
    border-radius: 8px;
    align-items: center;
}

/* 进度条内芯样式 */
.el-progress-bar__inner {
    height: 8px;
    margin: 12px;
}

/* 调整进度条颜色 */
.custom-progress1 .el-progress-bar .el-progress-bar__outer .el-progress-bar__inner {
    background: linear-gradient(90deg, #3D7BFA 0%, #3DF4FA 100%) !important;
    height: 8px;
    margin: 12px;
}
.gpu .el-progress-bar .el-progress-bar__outer .el-progress-bar__inner{
    margin: 0;
    height: 6px;
}
.progress1 {
    width: 934px;
    height: 32px;
    flex-grow: 1;
    margin: 0 16px;
    font-size: 15px;
    font-weight: bold;

}

/* XXX训练设置 */
.dialog-title {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1001;
    padding: 16px 48px 16px 24px;
    font-size: 16px;
    font-weight: 500;
    ;
    /* border-bottom: 1px solid #ddd; */
}

.buttons {
    display: flex;
    gap: 10px;
    width: 180px;
    height: 32px;
}

.sptitle {
    height: 23px;
    margin-left: 24px;
    font-family: 'Source Han Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.85);
}

/* 分割线边距清零 */
.el-divider--horizontal {
    padding: 0;
    margin: 0;
}

.contral {
    width: 100%;
    height: calc(100% - 80px - 20px - 141px);
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

.a1 {
    background-color: white;
    padding: 24px 24px 16px 24px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    ;
    font-size: 16px;
    font-family: 'Source Han Sans';
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
}

.a2 {
    width: 93%;
    /* 减去左右margin的宽度 */
    height: 74%;
    /* 设置高度 */
    background-color: #F8FBFE;
    overflow: auto;
    /* 添加滚动条 */
    white-space: nowrap;
    /* 防止内容自动换行 */
    margin: 16px 24px 24px 24px;
    padding: 16px;
    border-radius: 8px;

    font-family: 'Source Han Sans';
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.65);
    overflow-y: auto;
    /* 如果内容超出宽度，显示横向滚动条 */
}

.a3 {
    width: calc(100% - 32px);
    /* 减去左右margin的宽度 */
    height: calc(100% - 108px);
    /* 设置高度 */
    background-color: rgb(224, 226, 229);
    margin: 16px 16px 16px 16px;
    overflow: auto;
    /* 添加滚动条 */
    white-space: nowrap;
    /* 防止内容自动换行 */
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    display: flex;
}

.a4 {
    width: calc(100% - 32px);
    /* 减去左右margin的宽度 */
    height: calc(100% - 108px);
    /* 设置高度 */
    background-color: rgb(224, 226, 229);
    margin: 16px 16px 16px 16px;
    overflow: auto;
    /* 添加滚动条 */
    white-space: nowrap;
    /* 防止内容自动换行 */
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    display: flex;
}

.collapse-content {
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: stretch;
    width: calc(100% - 20px);
    background-color: #1e1e1e;
    /* 垂直居中对齐 */
    margin-left: 10px;
    margin-right: 10px;
    outline: 10px solid white;
    /* 设置margin区域的颜色为白色 */
}

.el-table__row {
    border-bottom: none;
    /* 去除行下的分隔线 */
}

.el-table__header {
    border: none;
    /* 去除表头下方的横线 */
}

.el-table__body {
    border: none;
    /* 去除行之间的横线 */
}

.el-table__row {
    border-bottom: none;
    /* 去除行下的分隔线 */
}


.center-content {
    flex: 1;
    background-color: #ffffff;
}

.left-content {
    /* border-right: 5px solid white; */
    height: 100%;
    width: 49%;
}

.right-content {
    height: 100%;
    width: 49%;
}

pre code.hljs {
    /* 默认边距清零 */
    padding: 0;
}

/* 下拉框标题样式 */
.el-collapse-item__header {
    padding-left: 19px;
}

/* 将参数设置表格的value值padding-left置为0 */
/* .el-table .cell {
    padding-left: 0 !important;

} */

/* 调整进度条的字体大小 */
.el-progress-bar__innerText {
    /* display: flex; */
    font-size: 16px;
    margin-top: -12px;
    margin-right: -10px;
    text-align: center;
    /* align-items: center; */
    background-color: white;
    justify-content: center;
    font-weight: normal;
    /* 水平居中 */
    line-height: 32px;
    width: 64px;
    height: 32px;
    border-radius: 16px;
    box-shadow: 8px 0px 10px 0px rgba(175, 189, 210, 0.3);

}

.fileStyle {
    padding-left: 20px;
    height: 100%;
    list-style-type: none;
    /* 去掉默认圆点 */
}

.fileTree {
    height: 100%;
    overflow-y: auto;
}

/* 针对嵌套列表的样式 */
.fileStyle ul {
    list-style-type: none;
    /* 去掉嵌套列表的圆点 */
    padding-left: 20px;
    /* 添加内边距以使嵌套列表缩进 */
}

/* 箭头大小设置 */
.arrow {
    font-size: 13px;
    /* 调整箭头的大小 */
}

.bigDiv {
    width: 100%;

}

.el-row {
    width: calc(100% - 32px);
    height: 100%
}

.el-col {
    border-radius: 4px;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /* 垂直方向出现滚动条 */
    overflow-x: auto;
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
    height: 100%;
    width: 100%;
    padding: 12px;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
    padding: 12px;
}

.bg-purple-left {
    background: #e5e9f2;
    height: 100%;
    margin: 1px;
    padding: 12px;
}

.center1 {

    /* 水平方向出现滚动条，如果需要 */
    /* 防止内容自动换行 */
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px
}

.gpu {
    width: 200px;
    display: inline-block;
}